<div class="timeline-comment-wrapper js-comment-container">
    <a href="/beydogan">

    <img alt="Mehmet Beydogan" class="timeline-comment-avatar" data-user="1767434" height="48" src="https://avatars2.githubusercontent.com/u/1767434?v=3&amp;s=96" width="48">
    </a>
    <div id="issuecomment-68699459" class="comment timeline-comment">

  <div class="timeline-comment-header ">

    

    <span class="timeline-comment-label">Owner</span>


  <div class="timeline-comment-header-text">

    <strong>
      <a href="/beydogan" class="author"></a>
    </strong>

    commented

    <a href="#issuecomment-68699459" class="timestamp">
      <time datetime="2015-01-05T12:02:36Z" is="relative-time" title="Jan 5, 2015, 7:02 AM EST">7 deeeays ago</time>
    </a>
  </div>
</div>


  <div class="comment-content">
      

    <div class="edit-comment-hide">
      <div class="comment-body markdown-body markdown-format js-comment-body">
          <p>
            {{comment}}
          </p>
      </div>

    </div>

      





  </div>
</div>

  </div>