<div class="timeline-comment-wrapper js-comment-container">
  <a href="https://www.github.com/{{user.username}}">
    <img alt="{{user.username}}" class="timeline-comment-avatar" height="48" src="{{user.avatar_url}}" width="48">
  </a>
  <div class="comment timeline-comment">
    <div class="timeline-comment-header ">
      {{#if owner}}
        <span class="timeline-comment-label">Owner</span>
      {{/if}}
      <div class="timeline-comment-header-text">
        <strong>
          <a href="https://www.github.com/{{user.username}}" class="author">{{user.username}}</a>
        </strong>
        commented
        <a href="#" class="timestamp">
          <time datetime="{{created_at}}" is="relative-time" title=""></time>
        </a>
      </div>
    </div>
    <div class="comment-content">
        <div class="edit-comment-hide">
          <div class="comment-body markdown-body markdown-format js-comment-body">
              <p>
               {{#parse-comment}}{{comment}}{{/parse-comment}}
              </p>
          </div>
        </div>
      </div>
  </div>
</div>
