<div class="overall-summary overall-summary-bottomless gitcussion-summary">
  <div class="stats-switcher-viewport">
    <div class="stats-switcher-wrapper">
      <ul class="numbers-summary">
        <li class="commits">
          <a>
            <span class="num text-emphasized">
              5
            </span>
            Comments
          </a>
        </li>
        <li>
          <a >
            <span class="num text-emphasized">
              10
            </span>
            Upvotes
          </a>
        </li>

        <li>
          <a >
            <span class="num text-emphasized">
              2
            </span>
            Downvotes
          </a>
        </li>

        <li>
          <a >
            <span class="num text-emphasized">
              300
            </span>
            Points
          </a>

        </li>
      </ul>
    </div>
  </div>
</div>
