<div class="overall-summary overall-summary-bottomless gitcussion-summary">
  <div class="stats-switcher-viewport">
    <div class="stats-switcher-wrapper">
      <ul class="numbers-summary">
        <li class="commits">
          <a>
            <span class="num text-emphasized">
              {{repo.comments_count}}
            </span>
            Comments
          </a>
        </li>

        <li>
          <a >
            <span class="num text-emphasized">
              {{repo.score}}
            </span>
            Points
          </a>
        </li>
        <li>
        	<a href="http://www.gitcussion.com/r/{{repo.fullname}}" class="btn btn-lg btn-gitcussion" target="_blank">
        	  Leave a comment on Gitcussion?
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
